Source: ros-melodic-tf2-server
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), libgtest-dev, ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-message-generation, ros-melodic-roscpp, ros-melodic-rostest, ros-melodic-tf, ros-melodic-tf2-msgs, ros-melodic-tf2-ros
Homepage: https://github.com/peci1/tf2_server
Standards-Version: 3.9.2

Package: ros-melodic-tf2-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-geometry-msgs, ros-melodic-message-runtime, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-tf2-msgs, ros-melodic-tf2-ros
Description: TF2 server that can provide transforms over separate TF topics
